[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
jupyterlab = "*"
pywin32 = "==225"
scrapy = "*"
beautifulsoup4 = "*"
xlrd = "*"
openpyxl = "*"
plotly = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.8"
